.header {
  margin: 0;
  position: relative;

  img {
    margin: 0;
    display: block;
    height: auto;
  }


  .rightAngle {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 20vw;
  }

  .leftAngle {
    position: absolute;
    top: 0px;
    max-width: 25vw;
  }
}